---
pagination:
  data: collections.categories
  size: 1
  alias: categories
title: Categories
layout: main
eleventyNavigation:
  key: Categories
  parent: home
  order: 1
---

<p>This is some content for the categories page.</p>

{% assign categories = collections.categories | sort %}
<ul>
  {% for category in categories %}
    <li>
      <a href="/category/{{ category | slugify }}">{{ category | capitalize }}</a>
    </li>
  {% endfor %}
</ul>